body {
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  background-color: #FFF;
  color: #444;
  font-family: "Lato", sans serif !important
  font-size: 12px !important;
}

h1 {
/*  color: #FFD333 !important;  */
  color: #F2F2F2 !important;
  text-align: center;
  font-style: uppercase;
  font-size: 5em !important;
  font-weight: 800 !important;
}

h3 {
/*  color: #FFD333 !important;  */
  color: #F2F2F2 !important;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600 !important;
}

p {
  color: #333;
}

.till

g.child {
    transform: translateY(25px);
}

.dontShow {
  display: none;
}

 .gobackpost  {
  margin-top: 200px;
  font-weight: light;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans serif !important;
  color: #666;
}

 .tillbaka  {
    font-weight: bold;
    font-size: 14px;
    transition: font-size 0.05s ease-in;
    -webkit-font-smoothing: antialiased;
    font-family: "Lato", sans serif !important;
    opacity: 0;
    cursor: pointer;
  }

  .tillbaka:hover {
    opacity: 0.7 !important;
  }



.bar:hover {
  opacity: 0.6;
}

.row div {
  float: left;
  margin-left: 10px;
}

.legenddiv {
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 15px;
  padding: 20px 5px 11px 28px;
  width: 569px;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin: 0 auto;
}

.container-fluid {
	max-width: 1600px;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1200px;
}
.navbar-default {
  border: none !important;
}

#homeicon {
  max-height: 40px;
  opacity: 0.3;
}

#homeicon:hover {
  opacity: 0.5;
}

#intro {
  color: white;
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.50) ),url('bruh.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#intro .container {
  min-height: 500px;
}

#legendcontainer {
      background-color: #f8f8f8;
}

.middle-text {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 56%;
  left: 50%;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

#chart {
}

#footer {
  background-color: #eee;
  height: 200px;
  min-width: 1200px;
}

.navbar {
  background-color: #eee;
}

text {
  font: 11px sans-serif;
  font-family: "Lato", sans serif;
  font-weight: 400;
  fill: #333;
}

rect.background {
  fill: #eee;
  opacity: 0.2;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,

.x line {
  fill: none;
  stroke: #eee;
}

.tooltip {
  opacity: 0;
  position: absolute;                
  max-width: 200px;                                  
  padding: 10px 20px 10px 20px;            
  font: 14px sans-serif;
  font-family: "Helvetica Neue";
  font-weight: 300;  
  background: #fff;
  border: 1px solid #666; 
  border-radius: 5px;           
  pointer-events: none;         
}