
body {
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  margin: auto;
  position: relative;
  width: 980px;
  height:100%;
}

p {

  margin: 0px;
  font-weight: 200;

}

text {
  pointer-events: none;
  fill: white;
}

.name {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grandparent text {
  font-weight: 100;
  font-size: 4em;
  fill: #c9eadb;
}

rect {
  stroke: #ffffff;
}

rect.parent,
.grandparent rect {
  stroke-width: 1px;
}

.grandparent rect {
  fill: #1b9a9a;
}

.grandparent:hover rect {
  fill-opacity: 0.9;
}

.grandparent:hover text {
  fill: white;
}


.children rect.parent,
.grandparent rect  {
  cursor: pointer;
}

.children rect.parent {
  fill-opacity: 0.7;
}

.children:hover rect.parent {
  fill-opacity: 0;
}

.children rect.child {
  fill-opacity: 1;
}

.leaf rect.child {

}

.children:hover rect.child {
  fill-opacity: 0.8;
}


.text {
	padding-top: 9px;
	padding-left: 9px;
	word-wrap: break-word;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	display: table-cell;
}

#post {
	position: relative;
	float: left;
  width: 860px;
  text-align: justify;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  line-height: 1.5;
  padding: 5px 0px 25px 5px;
  color: #777;
  margin-top: .5em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 2em;
  padding-top: 15px;
  text-align: left;
  padding-left: 20px;
}


.node {
  border: solid 1px white;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  border: 0px;

}

.node {
  background: white;
}

.node.children:hover .content {
  opacity: 0.8;
  cursor: pointer;
}
